#img-PinkOrangeGradient{
    width: 100%;
    height: 976px;
    position: absolute;
    z-index: -1;

    object-fit: cover;
}




#Hero-Banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}