button{
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 16px 24px;
    border-radius: 8px;

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
    transition: all ease-in-out 300ms;
    
    
}

.btn-white{
    border: 2px solid white;
    background: none;
    color: white;

}

.btn-white:hover path{
    transition: all ease-in-out 300ms;
    fill: var(--orange);
}

.btn-white:hover{
    background-color: white;
    color: var(--orange);
}








.btn-orange{
    background-color: var(--orange);
    color: white;
    border: solid 2px var(--white);
}

.btn-orange:hover{
    color: var(--orange);
    background: none;
    border: solid 2px var(--orange);
}

.btn-orange:hover path{
    transition: all ease-in-out 300ms;
    fill: var(--orange);
}



.btn-pink{
    background-color: var(--pink);
    color: white;
    border: solid 2px var(--white);
}

.btn-pink:hover{
    color: var(--pink);
    background: none;
    border: solid 2px var(--pink);
}

.btn-pink:hover path{
    transition: all ease-in-out 300ms;
    fill: var(--pink);
}